@model DBStore.DTO.ProductDTO

<h4>ProductDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProduct" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PricePerItem" class="control-label"></label>
                <input asp-for="PricePerItem" class="form-control" />
                <span asp-validation-for="PricePerItem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AverageCustomerRating" class="control-label"></label>
                <input asp-for="AverageCustomerRating" class="form-control" />
                <span asp-validation-for="AverageCustomerRating" class="text-danger"></span>
            </div>
            <div class="form-group"hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="HomeProduct">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
